{% extends "layout.html" %}
{% block body %}


<div class="container landing-page" style="text-align: center">
    <div class="row" style="padding-top: 100px">
        <div class="col-md-8 col-md-offset-2">

            <img src="../static/img/owl.png" style="max-width: 85%;">
        </div>
    </div>

    <div class="row">
        <div class="mt-2 col-md-8 col-md-offset-2">
            <form action="/search" method="GET">
                <div class="form-group row" style="margin-top: 20px;">
                    <div class=" col-md-12">



                        <input id="autocomplete" class="form-control input-lg" name="query" autofocus required
                            list="anrede">
                        <datalist id="anrede">

                        </datalist>
                      
                       
                        


                        <script>
                            var countries = [];
                            fetch("{{ url_for('static', filename='queries_title.json') }}")
                                .then(res => res.json())
                                .then(datos => {
                                    var options = '';
                                    for (let i of datos) {

                                        options += '<option value="' + String(i.query) + '" />';

                                    }

                                    document.getElementById('anrede').innerHTML = options;

                                });
                        </script>
                       <div class="mt-2 col-md-12"></div>
                        <div class="col-md-12">
                            <div class="row h-100 justify-content-center align-items-center ">
                            <div class=form-inline>
                                <h5 class="mr-2">Start Date</h5>
                                <input class="form-control mr-3" type="date" name="startdate" value={{before}} id="input-datapicker-notifD">
                                <h5 class="mr-2">End Date</h5>
                                <input class="form-control mr-3" type="date" name="enddate" value={{today}} id="input-datapicker-notifH">
                                
                                

                            </div>
                        </div>
                        </div>
                        <div class="mt-2 col-md-12"></div>
                        <div class="col-md-12">


                            <button href="/search" class="btn ">Search</button>

                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}